
.start-quiz-btn {
    margin: 32px auto;
    padding: 24px 48px;
    background-color: rgb(249, 203, 37);
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    font-size: 2.4rem;
    font-weight: 500;
}

.start-quiz-btn:hover {
    background-color: rgb(227, 181, 18);
    transition: transform 150ms;
    transform: scale(1.03);
    cursor: pointer;
}

.quiz-box {
    box-sizing: border-box;
    background: linear-gradient(rgb(235, 235, 235), rgb(250,250,250));
    width: 55%;
    height: 30%;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 16px 0 rgba(173, 173, 173, 0.2), 0 12px 40px 0 rgba(173, 173, 173, 0.19);
}


.btn-toolbar {
    margin: 10px;
}

.btn-toolbar input[type="button"] {
    opacity: 0;
    width: 0;
    position: fixed;
    display: inline-block;
    vertical-align: top;
}

.btn-toolbar label {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid rgb(231, 231, 231);
    border-radius: 16px;
}

.btn-toolbar label:hover {
    background-color: rgb(249, 203, 37);
    transition: 100ms;
    transform: scale(1.03);
    cursor: pointer;
}

.radio-toolbar {
    margin: 10px;
}

.radio-toolbar input[type="button"] {
    opacity: 0;
    position: fixed;
    width: 0;
    display: inline-block;
    vertical-align: top;
}

.radio-toolbar label {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid rgb(231, 231, 231);
    border-radius: 16px;
}

.radio-toolbar label:hover {
    background-color: rgb(249, 203, 37);
    transition: 100ms;
    transform: scale(1.03);
    cursor: pointer;
}

.radio-toolbar input[type="radio"]:focus + label {

}

.radio-toolbar input[type="radio"]:checked + label {
    transition: 100ms;
    background-color: rgb(249, 203, 37);
    /*border-color: rgb(249, 203, 37);*/
}


.question-text {
    margin: 2.4rem;
    font-size: 2.4rem;
    color: rgb(0, 0, 0);
}

.quiz-heading-text {
    margin: 2.4rem;
    color: aliceblue;
}

.btn_previous_question {;
    margin-left: 20%;
    margin-top: 1%;
    width: 30%;
    padding: 12px 24px;
    border: 2px rgb(235, 235, 235) solid;
    border-radius: 8px;
    font-size: 2.4rem;
}

.btn_previous_question:hover {
    background-color: rgb(87, 87, 87);
    color: rgb(235, 235, 235);
    transition: transform 100ms;
    transform: scale(1.03);
    cursor: pointer;
}

.btn_next_question {;
    margin-top: 1%;
    width: 30%;
    padding: 12px 24px;
    border: 2px rgb(235, 235, 235) solid;
    border-radius: 8px;
    font-size: 2.4rem;
}

.btn_next_question:hover {;
    background-color:rgb(249, 203, 37);
    transition: transform 100ms;
    transform: scale(1.03);
    cursor: pointer;
}

@media(max-width:992px) {

    .start-quiz-btn {
        padding: 2.0rem;
        font-size: 2.0rem;
    }

    .quiz-heading-text {
        font-size: 2.4rem;
    }

    .quiz-box {
        width: 70%;
        height: 50%;
    }
}

@media (max-width:576px) {

    .start-quiz-btn {
        padding: 1.6rem;
        font-size: 1.6rem;
    }

    .quiz-heading-text {
        font-size: 2.4rem;
    }

    .quiz-box {
        width: 70%;
        height: 60%;
    }
}