@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-image: linear-gradient(0deg, rgb(0,0,0), rgb(1, 113, 77)), url('./assets/background-image.jpg');
  background-position: 100% 10%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

.wrapper {
  width: 100vw;
  /* height: 100vh; */
  backdrop-filter: blur(7px);
}

:focus {
  outline: 0;
}

html {
  font-size: 10px;
}

h1 {
  font-size: 5.4rem;
  color: rgb(12,12,12);
  margin-bottom: 5rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2rem
}

h6 {
  font-size: 0.8rem;
}


.highlight-text {
  font-weight: 500;
  color: rgb(249, 203, 37);
  /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; stroke code maybe use later*/
}

.highlight-text-2 {
  font-weight: 700;
  color: rgb(249, 203, 37);
  /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; stroke code maybe use later*/
}


.inline {
  display: inline;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  max-width: 100rem;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

div {
  display: inline-block;
}

.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position: relative;
  height:0;
}
.video-responsive iframe{
  position: absolute;
  margin: auto;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  height:55%;
  width:55%;
}

.centered-thing {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bandeiras {
  padding: 0px
}

.bandeiras ul {
  list-style: none;
}

.bandeiras li {
  background-color: #FFFFFF;
  display: inline;
  padding:15px 15px 10px 15px;
  border-radius: 10px;
  margin:10px;
}

@media(max-width:2500px) {
  body {
    background-position: 80% 10%;
  }
}

@media(max-width:992px) {
  body {
    background-position: 70% 10%;
  }


  .video-responsive iframe{

    height:75%;
    width:75%;
  }

}

@media (max-width:576px) {

  .video-responsive iframe{
    top: 50%;
    height:55%;
    width:55%;
  }

  body {
    background-position: 60% 10%;
  }

}
